# TASK1

Write a function to find moving average in an array over a window:
Test it over [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150] and window of 3.

In [170]:
import numpy as np
from numpy import convolve
import matplotlib.pyplot as plt
 
def movingaverage (values, window):
    weights = np.repeat(1.0, window)/window
    sma = np.convolve(values, weights, 'valid')
    return sma
x = [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150]
xMA = movingaverage(x,3)
xMA

array([  5.        ,   4.66666667,   5.66666667,   6.66666667,
         9.66666667,  28.66666667,  49.33333333,  72.66666667,
        84.        ,  93.33333333, 116.33333333])

In [171]:
def running_mean(x, N):
    cumsum = np.cumsum(np.insert(x, 0, 0)) 
    return (cumsum[N:] - cumsum[:-N]) / N
x = [3, 5, 7, 2, 8, 10, 11, 65, 72, 81, 99, 100, 150]
z=running_mean(x,3)
z

array([  5.        ,   4.66666667,   5.66666667,   6.66666667,
         9.66666667,  28.66666667,  49.33333333,  72.66666667,
        84.        ,  93.33333333, 116.33333333])

# TASK 2

1.How-to-count-distance-to-the-previous-zero
For each value, count the difference back to the previous zero (or the start of the Series,
whichever is closer)
create a new column 'Y'
Consider a DataFrame df where there is an integer column 'X'
import pandas as pd
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})

In [172]:
df = pd.DataFrame({'X': [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]})
df = df.assign(Y=df.loc[df.X==0])
nul = df['Y'].isnull()
a=list(df['X'])
df.assign(Y=[([0]+a)[:idx][::-1].index(0) for idx in range(1, len(a)+2)][1:])

   X  Y
0  7  1
1  2  2
2  0  0
3  3  1
4  4  2
5  2  3
6  5  4
7  0  0
8  3  1
9  4  2

In [173]:
a = [7, 2, 0, 3, 4, 2, 5, 0, 3, 4]
b = []
z_pos = -1
for i, n in enumerate(a):
    if n == 0:
        z_pos = i
    b.append(i - z_pos)
print(b)

[1, 2, 0, 1, 2, 3, 4, 0, 1, 2]

2.Create a DatetimeIndex that contains each business day of 2015 and use it to index a Series of
random numbers.

In [165]:
dataframe = pd.date_range(start='2015-01-01', end='2015-12-31', freq='B') 
randomnumbers = pd.Series(np.random.rand(len(dataframe)), index=dataframe)
dataframe

DatetimeIndex(['2015-01-01', '2015-01-02', '2015-01-05', '2015-01-06',
               '2015-01-07', '2015-01-08', '2015-01-09', '2015-01-12',
               '2015-01-13', '2015-01-14',
               ...
               '2015-12-18', '2015-12-21', '2015-12-22', '2015-12-23',
               '2015-12-24', '2015-12-25', '2015-12-28', '2015-12-29',
               '2015-12-30', '2015-12-31'],
              dtype='datetime64[ns]', length=261, freq='B')

3.Find the sum of the values in s for every Wednesday

In [166]:
randomnumbers[dataframe.weekday == 2].sum()

23.879274686509344

4.Average For each calendar month

In [167]:
randomnumbers.resample('M', how='mean')

C:\Python\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: how in .resample() is deprecated
the new syntax is .resample(...).mean()
  """Entry point for launching an IPython kernel.

2015-01-31    0.518846
2015-02-28    0.448257
2015-03-31    0.524245
2015-04-30    0.449672
2015-05-31    0.511193
2015-06-30    0.513313
2015-07-31    0.334650
2015-08-31    0.484523
2015-09-30    0.389970
2015-10-31    0.531985
2015-11-30    0.474785
2015-12-31    0.443451
Freq: M, dtype: float64

5.For each group of four consecutive calendar months in s, find the date on which the highest
value occurred.

In [168]:
randomnumbers.groupby(pd.TimeGrouper('4M')).idxmax()

C:\Python\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: pd.TimeGrouper is deprecated and will be removed; Please use pd.Grouper(freq=...)
  """Entry point for launching an IPython kernel.

2015-01-31   2015-01-19
2015-05-31   2015-05-25
2015-09-30   2015-08-25
2016-01-31   2015-11-02
dtype: datetime64[ns]